@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Rajdhani:wght@300;500;700&display=swap');

:root {
    --light-blue: #495BCC;
    --blue: #1D2766;
    --middle-blue: #0E1647;
    --dark-blue: #0A1033;
    --light-white: #FCFCFE;
    --middle-white: #DDE3F0;
    --red: #E51C44;
    --dark-red: #991F36;
    --light-green: #32BD50;
    --green: #32BD50
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    font-family: 'Rajdhani', sans-serif;
    color: var(--light-white);
}

p,
span,
input,
button {
    font-family: 'Inter', sans-serif;
}

a,
ul,
li {
    text-decoration: none;
}

a,
input,
button {
    cursor: pointer;
}


input[type=radio] {
    cursor: pointer;
    margin-left: 85%;
    appearance: none;
    width: 14px;
    height: 14px;
    border: 1px solid #243189;
    background: linear-gradient(180deg, #0E1647 0%, #0A1033 100%);
    border-radius: 50%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    outline: none;
}

input[type=radio]::after {
    content: '';
    width: 8px;
    height: 8px;
    background: var(--light-green);
    position: absolute;
    /* border-radius: 1px; */
    border-radius: 50%;
    opacity: 0;

}

input[type=radio]:checked::after {
    opacity: 1;
}

input[type=radio]:checked {
    border: 1px solid var(--light-green);

}

input[type=radio]:focus {
    box-shadow: 0 0 5px var(--light-green);
}

input[type=checkbox] {
    cursor: pointer;
    margin-left: 85%;
    appearance: none;
    width: 14px;
    height: 14px;
    border: 1px solid #243189;
    background: linear-gradient(180deg, #0E1647 0%, #0A1033 100%);
    border-radius: 2px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    outline: none;
}

input[type=checkbox]::after {
    content: '';
    width: 8px;
    height: 8px;
    background: var(--light-green);
    position: absolute;
    /* border-radius: 1px; */
    border-radius: 2px;
    opacity: 0;

}

input[type=checkbox]:checked::after {
    opacity: 1;
}

input[type=checkbox]:checked {
    border: 1px solid var(--light-green);

}

input[type=checkbox]:focus {
    box-shadow: 0 0 5px var(--light-green);
}