@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Rajdhani:wght@300;500;700&display=swap');

:root {
    --light-blue: #495BCC;
    --blue: #1D2766;
    --middle-blue: #0E1647;
    --dark-blue: #0A1033;
    --light-white: #FCFCFE;
    --middle-white: #DDE3F0;
    --red: #E51C44;
    --dark-red: #991F36;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    font-family: 'Rajdhani', sans-serif;
    color: var(--light-white);
}

p,
span,
input,
button {
    font-family: 'Inter', sans-serif;
}

a,
ul,
li {
    text-decoration: none;
}

a,
input,
button {
    cursor: pointer;
}